CompileFlags:
  Compiler: C:\Soft\Cygwin\usr\bin\i686-w64-mingw32-gcc.exe
  Add:
    - -Wall
    - -O2
    - -fno-strength-reduce
    - -DWINDOWS
    - -DLOG_USE_COLOR
    - -std=c17
    - -IC:\Soft\Cygwin\usr\lib\gcc\i686-w64-mingw32\13\include
    - -IC:\Soft\Cygwin\usr\lib\gcc\i686-w64-mingw32\13\include-fixed
    - -IC:\Soft\Cygwin\usr\i686-w64-mingw32\sys-root\mingw\include
  CompilationDatabase: src/

Index:
  Background: Build

Diagnostics:
  ClangTidy:
    Add: [
      readability-*,
      performance-*,
      modernize-*,
      bugprone-*,
      clang-analyzer-*
    ]
    Remove: [
      modernize-use-trailing-return-type,
      readability-braces-around-statements,
      readability-magic-numbers
    ]
  UnusedIncludes: Strict
  MissingIncludes: Strict

Completion:
  AllScopes: true

InlayHints:
  Enabled: true
  ParameterNames: true
  DeducedTypes: true

Hover:
  ShowAKA: true