*.o
*.raw
*.tmp*
*.sav*
build
*.exe
*.csv
log.txt
*.zip
src.code-workspace
*.bak*
.clangd
/sil-more-windows-sdl3
/.cache
# Allow .vscode for team settings, but ignore personal overrides
.vscode/settings.local.json
/lib/save
/src/.cache
/src/Visuals
compile_commands.json
*.res
