/* File: sil.rc */

ANGBAND MENU
{
	POPUP "&File"
	{
		MENUITEM "&New", 100
		MENUITEM "&Open...", 101
		MENUITEM SEPARATOR
		MENUITEM "&Save", 110
		MENUITEM SEPARATOR
		MENUITEM "E&xit", 130
	}

	POPUP "&Window"
	{
		POPUP "&Visibility"
		{
			MENUITEM "Sil", 200
			MENUITEM "Inventory", 201
			MENUITEM "Equipment", 202
			MENUITEM "Combat Rolls", 203
			MENUITEM "Recall", 204
			MENUITEM "Character", 205
			MENUITEM "Messages", 206
			MENUITEM "Monster List", 207
		}

		POPUP "&Font"
		{
			MENUITEM "Sil", 210
			MENUITEM "Inventory", 211
			MENUITEM "Equipment", 212
			MENUITEM "Combat Rolls", 213
			MENUITEM "Recall", 214
			MENUITEM "Character", 215
			MENUITEM "Messages", 216
			MENUITEM "Monster List", 217
		}

	}

	POPUP "&Options"
	{
		POPUP "&Graphics"
		{
			MENUITEM "&Classic ASCII", 400
			MENUITEM "&Tiles by MicroChasm", 402
		}

		MENUITEM "&Sound", 410
		MENUITEM SEPARATOR
		MENUITEM "&Map", 420
	}

}

ANGBAND ICON "sil.ico"

